<html ng-app="holiday">
<head>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<link rel="stylesheet" type="text/css" href="components/bootstrap/css/bootstrap.css">
	<style type="text/css">
		.higlight {
			color : red;
		}

		.odd {
			background-color: #EBEBE0;
		}

	</style>
</head>

<body class="container" >
	<div class="row" ng-controller="greetingController">
		<div class="col-md-5">
			<div class="row lead">
				<div >{{message}}, {{companyName}}</div>
			</div>
		</div>

	</div>
	<div ng-controller="hotelsController">
		<hr/>
		<div class="row">
			<div class="col-md-8">
				Name :
				<input type="text" class="input-sm" ng-model="hotel.name" />
				Price:
				<input type="number"  class="input-sm" ng-model="hotel.price" />
				Location :
				<input type="text"  class="input-sm"  ng-model="hotel.location" />
				<button class="btn btn-sm btn-primary" ng-click="AddHotel(hotel)">Add</button>

			</div>
			<div class="col-md-4">{{hotel | json}}</div>
		</div>
		<hr/>
		<div class="row">
			<input type="text" ng-model="searchTerm" class="input-sm" placeholder="search..." />

			<select ng-model="orderHotels" class="input-sm">
				<option value="{{item}}" ng-repeat="item in orderByElements">{{item}}</option>
			</select>
		</div>

		<hr/>

		<div class="row well well-sm" ng-repeat="hotel in hotels | filter : searchTerm | orderBy : orderHotels | limitTo : maxHotels" ng-class="{higlight : hotel.price >
			20000}" >
			<img class="col-md-2 col-sm-6 col-xs-12" ng-src="images/{{hotel.imgUrl}}" />
			<div class="col-md-3 col-sm-3 col-xs-3">
				<div>
					<h2>{{hotel.name | uppercase}}</h2>
				</div>
				<div >
					<h3 >
						<span class="label label-primary">{{hotel.price | currency : 'INR '}}</span>
					</h3>
				</div>
			</div>
			<div class="col-md-6 col-sm-7 visible-md visible-lg">
				<div class="">
					<span ng-show="!showMore">{{hotel.description | limitTo : descLimit}}</span>
					<span ng-show="showMore">{{hotel.description}}</span>

					<span ng-show="hotel.description.length > descLimit"><a href="" ng-show="!showMore" ng-click="showMore = true">... more</a></span>
				</div>
				<div>
					<div class="col-md-6 col-sm-6 col-xs-6">{{hotel.location | lowercase}}</div>
					<div class="col-md-6 col-sm-6 col-xs-6">{{hotel.area | number : 2}}</div>
				</div>

			</div>
			<div class="col-md-1">
				<div>
					<button class="btn btn-default btn-sm" ng-click="upVote(hotel)">
						<span class="glyphicon glyphicon-chevron-up"></span>
					</button>
				</div>
				<div>
					<h3>
						<span class="label" ng-class="{'label-success': hotel.rating >
							0, 'label-danger': hotel.rating
							< 0, 'label-primary': !hotel.rating}">{{hotel.rating ? hotel.rating : '0'}}</span>
						</h3>
					</div>
					<div>
						<button class="btn btn-default btn-sm"  ng-click="downVote(hotel)">
							<span class="glyphicon glyphicon-chevron-down"></span>
						</button>
					</div>

				</div>

			</div>
		</div>

</body>
	</html>