<html ng-app>
<head>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<style type="text/css">
		.higlight {
			color : red;
		}

		.odd {
			background-color: grey;
		}

	</style>
</head>

<body >
	<div ng-controller="greetingController">

		<h1 ng-show="showMessage">{{message + ', ' +  companyName}}</h1>
		<input type="text" ng-model="message" />
		<input type="checkbox" ng-model="showMessage" />
		Show Message
	</div>
	<br/>
	<div  ng-controller="hotelsController">
		<div ng-repeat="hotel in hotels" ng-class="{higlight : hotel.price > 20000}" ng-class-odd="'odd'">
			<h1 >{{hotel.name}}, {{hotel.location}}</h1>
			<img ng-src="http://i.imgur.com/{{hotel.img}}" width="100px" />
			<br/>
			<div >The price for the hotel is <span><input ng-disabled="hotel.price < 10000" type="number" ng-model="hotel.price"/></span></div>
		</div>

	</div>

</body>
</html>